{% extends 'includes/default.html' %}

{% block head %}
<style>
    body, html
    {
        height: 100%;
        width: 100%;
    }
</style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Brainstorm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="rosbridge">RosBridge</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="urdf">URDF</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="plot">Plot <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <img src={{url}} alt="Chart" height="auto" width="100%">


    {% endblock %}

    {% block footer %}
    {% endblock %}